{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "react-app", "kentcdodds"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-boolean-value": 0,
    "react/prop-types": 2,
    "react/no-adjacent-inline-elements": "off",
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 3
      }
    ],
    "max-lines-per-function": ["error", 500],
    "complexity": ["error", 15],
    "valid-jsdoc": ["warn", {"requireReturn": false}],
    "no-bitwise": "off",
    "consistent-return": "off",
    "no-negated-condition": "off",
    "arrow-parens": "error",
    "generator-star-spacing": "off",
    "no-console": "warn",
    "no-eval": "error",
    "no-debugger": "warn",
    "no-unused-vars": "error",
    "eqeqeq": "off",
    "import/no-useless-path-segments": "off",
    "max-lines": "off",
    "no-eq-null": "off",
    "react/jsx-indent": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
